*{
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body::-webkit-scrollbar{

}
/* navbar */
.navbar{
    /* background-color: #87dacd; */
    background-color: #FFECEF;
}
.logo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* margin-left: 100px; */
    margin-right: 20px;
}
.nav-item{
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #372948;
    margin-right: 20px;
    padding: 0px 20px;
    /* background-color: #076665; */
    background-color: #372948;
    border-radius: 10px;
    height: 45px;
    align-items: center;
}
.navbar-brand{
    font-weight: 700;
    align-items: baseline;
    font-variant: small-caps;
    font-size: 25px !important;
}
.nav-menu{
    display: flex;
    justify-content: end;
    max-width: fit-content;
}

.nav-item a{
    color: #FFECEF;
    align-items: center;
    vertical-align: middle;
}
.nav-item:hover{
    background-color: #FFECEF;
    color: #372948;
}

/* home section */
#home{
    background-color: #372948e8;
}
.dev-intro{
    color: #FFECEF;
    font-size: 35px;
    text-align:center;
    /* height: 400px; */
}
.dev-intro p{
    margin-top: 150px;
}
.dev-intro span{
    color: aquamarine;
    font-size: 75px;
}
.dev-image svg{
    width: 500px;
    height: 500px;
    align-self: center;
    margin: auto;
    margin-left: 10%;
}
.line{
    position: relative;
    width: 500px;
    height: 100px;
    margin-top: 100px;
    margin-left: 50px;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    animation: typewriter 4s steps(17) 1s 1 normal both, blinkCursor 500ms steps(17) infinite normal;
}
@keyframes typewriter{
    from{
        width : 0px;
    }
    to{
        width: 700px;
    }
}
@keyframes blinkCursor{
    from{
        border-right-color: orange;
    }
    to{
        border-right-color: transparent;
    }
}
/*about*/
/* about */
#about{
    background-color: #372948;
    padding-top: 20px;
}
#about p span{
    color: rgb(214, 250, 122);
    font-size: 30px;
}
#about .row .col, #projects .row .col{
    display: flex;
    justify-content: center;
}
#about .name{
    color: rgb(255, 217, 0);
    font-size: 25px;
}
#about h1, #projects h1, #contact h1{
    color: #FFECEF;
    text-align: center;
    text-decoration: underline;
    color: aquamarine;
    padding: 20px;
}
.intro{
    color: #FFECEF;
    align-items: center;
    width: 35vw;
    font-size: 20px;
    margin-top: 15%;
    text-align: center;
    margin-right: 200px;
}
.mine_pic{
    align-self: center;
    margin: auto;
}
#about .skills .card{
    padding: 20px;
    box-shadow: 1px 1px 25px 5px rgb(230, 5, 223);
}
.skills, .project{
    padding: 50px;
}
.card-img-top{
    width: 100px;
    height: 250px;
}
#about .card-text{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
/*project section*/
#projects{
    background-color: #372948e8;
}
#projects .card-body{
   text-align: center;
}
#projects .project-img{
    background-size: cover;
}
#contact{
    background-color:#372948; 
    padding-bottom: 100px;
}
.email-contact,.phone-contact,.instagram-id,.linkidin-id,.facebook-id{
    width: 400px;
    height: 50px;
    background-color: #746aa1e8;
    color: #FFECEF;
    border-radius: 10px;
    padding: 10px 20px;
}
.email-contact svg,.phone-contact svg{
    margin-right: 20px;
}
.phone-contact{
    float: left;
}
.instagram-id{
    margin: auto !important;
    margin-bottom: 50px !important;
}
/* website response */
/* making portfolio responsive */
/* for extra small devices */
@media only screen and (max-width: 576px){
    /* navbar */
    .navbar-brand span{
        font-size: 20px;
    }
    .nav-item{
        margin-bottom: 10px;
    }
    .navbar-nav{
        margin-left: 28vw;
    }
    /* home section */
    .dev-intro{
        width: 100vw;
        height: 150px;
    }
    .dev-intro p{
        font-size: 20px;
        margin-top: 50px;
    }
    .dev-intro span{
        font-size: 30px;
    }
    .dev-image svg{
        width: 300px;
        height: 300px;
        margin-left: 8vw;
    }
    .line{
        margin-left: 10vw;
        height: 50px;
        margin-top: 30px;
    }
    @keyframes typewriter{
        from{
            width : 0px;
        }
        to{
            width: 82%;
        }
    }

    /* about section */
    .mine_pic{
        width: auto;
        height: 300px;
        align-self: center;
    }
    .intro{
        margin-right: 0px;
        width: 80vw;
        font-size: 16px;
    }
    /* contact section */
    .email-contact{
        width: 300px;
        float: none;
        margin: auto;
        margin-bottom: 30px;
    }
    .phone-contact{
        width: 300px;
        float: none;
        margin: auto;
    }
    .address-contact{
        width: 300px;
    }
    .social-icon-container{
        margin-top: 20px;
    }
    .social-icon svg{
        width: 30px;
        height: 30px;
    }
}

/* for small size devices */
@media only screen and (min-width: 576px) and (max-width: 786px){

}

/* for medium size devices */
@media only screen and (min-width: 786px) and (max-width: 992px){
    
}

/* for large size devices */
@media only screen and (min-width: 992px) and (max-width: 1200px){

}

/* for extra large size devices */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    
}
